body {
    font-family: "Open Sans", sans-serif;
}

.header {
    text-align: center;
    font-size: 4vmin;
}

.form-submit-container {
    text-align: center;
}

.column-left {
    float: left;
    width: 33.333333%;
    text-align: left;
}

.column-center {
    float: left;
    width: 33.333333%;
    text-align: center;
}

.column-right {
    float: left;
    width: 33.333333%;
    text-align: right;
}

.well {
    min-height: 109px;
    max-height: 129px;
}

.statement {
    font-style: italic;
}

.button-container {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-buttons-container {
    margin-top: 10px;
    margin-bottom: 15px;
}

.button-column-left {
    width: 50%;
    float: left;
    text-align: left;
}
.button-column-right {
    width: 50%;
    float: right;
    text-align: right;
}

.finish-container {
    text-align: center;
}

.progress {
    height: 30px;
}

.progress-bar {
    width: 70%;
    font-size: 15px;
    line-height: 30px;
}

.img-responsive {
    width: 33%;
    display: inline-block;
}
